<app-navbar [title]="title" [leftBtn]="leftBtn" [rightBtn]="rightBtn"
    (eventEmit)="outputemitted($event)">
</app-navbar>


<form [formGroup]="updateForm" fxLayout="column" class="flexColumn"
    enctype="multipart/form-data" (ngSubmit)=updateBook() *ngIf="updateForm && switch == false">
    <div class=matFormField fxFlex=100%> 
         <!-- First Name form field -->
        <div fxLayout="column" class="formStart">
            <div >
                <mat-form-field fxLayoutAlign="center">
                    <input type="text" matInput readonly formControlName="isbn" placeholder="ISBN" required>
                    <mat-error *ngIf="rf.isbn.invalid">{{getUpdateErrorMessage('isbn')}}</mat-error>
                </mat-form-field>
            </div>
        <!-- Last Name form field -->
            <div>
                <mat-form-field fxLayoutAlign="center">
                    <input type="text" matInput formControlName="title" placeholder="Title" required>
                    <mat-error *ngIf="rf.title.invalid">{{getUpdateErrorMessage('title')}}</mat-error>
                </mat-form-field>
            </div>
        <!-- Email form field -->
            <div>
                <mat-form-field fxLayoutAlign="center">
                    <input type="text" matInput formControlName="author" placeholder="Authors" required>
                    <mat-error *ngIf="rf.author.invalid">{{getUpdateErrorMessage('author')}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxLayoutAlign="center">
                    <input type="number" min="0" max="999" matInput formControlName="bookQuantity" placeholder="Quantity" required>
                    <mat-error *ngIf="rf.bookQuantity.invalid">{{getUpdateErrorMessage('bookQuantity')}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxLayoutAlign="center">
                    <input type="number" min="0" max="999" step = "0.01" matInput formControlName="price" placeholder="Price per product" required>
                    <mat-error *ngIf="rf.price.invalid">{{getUpdateErrorMessage('price')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center" class="pubDate">
                <mat-form-field fxLayoutAlign="center" class="pubForm">
                    <input type="date" matInput formControlName="pubDate" placeholder="Publication Date">
                    <mat-error *ngIf="rf.pubDate.invalid">{{getUpdateErrorMessage('pubDate')}}</mat-error>
                </mat-form-field>
            </div>
            <br>
            <div fxLayoutAlign="center" class="button">
                <button mat-button> Submit </button>
            </div>
            <br><br><br>
        </div>
    </div>
</form>

<!-- div to view images -->
<div class="container" *ngIf="switch == true">
    <br><br><br>
    <div fxLayout="column" *ngFor="let i of rowImages">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxFlex="33%" *ngFor="let j of i">
                <mat-card *ngIf="j.image != undefined">
                    <img mat-card-image src="{{j.image}}" height="400px" (click)="expand(j.image)">
                    <button (click)=deleteImage(j)><mat-icon class="mat-18">delete_forever</mat-icon></button>
                </mat-card>
            </div>
        </div>
    </div>
    <br>
    <div fxLayoutAlign="center center">
        <mat-file-upload (uploadClicked)="onUploadClicked($event)" [acceptedTypes]="'.png, .jpg, .jpeg'" [allowMultipleFiles]="true" [labelText]="'Add more :'">
      </mat-file-upload>
      </div>
        <br>
      <div fxLayoutAlign="center center">
        <mat-error *ngIf="uploads == true">Incorrect File format</mat-error>
      </div>
      <br>
            <div fxLayoutAlign="center" class="button">
                <button mat-button (click)=addMoreImages()> Submit </button>
            </div>
            <br><br>
</div>

<div id="myModal" class="modal">
    <div class="modal-content" *ngIf="expan == true">
        <span (click)="spanClick()" class="close" style="color: white;">&times;</span>
        <div class="center">
            <img src="{{imag}}" width="500px" height="500px" class="image">
        </div>
    </div>
</div>

