// CSS for mat form field
.matFormField{
    ::ng-deep mat-form-field {
        div {
            width: 70%;
        } 
        margin-left: 20%;  
        margin-top: 2%;     
     } 
    }
    
    
    button {
        background-color: inherit ;
        border-radius: 10px solid white;
        
    }
    
    // .pubDate{
    //     width: 2000px;
    // }
    .pubForm{
        width: 80%;
    }

    
    .radioButton{
        margin-top: 2%;
    }
    .profileImage{
       margin-left: 43%;
    }
    
    .deleteButton{
        background-color: whitesmoke;
        border-radius: 5px;
        font: grey;
        cursor: pointer;
    }

    
    .details{
        margin-top: 2%;
    }
    
    
    .items{
        padding: 2%;
    }
    
    
    .details{
        margin-top: 2%;
    }

    
    .items{
        padding: 2%;
    }
    
    
    /* Modal Content */
    
    .modal-content {
        background-color: black;
        //margin: auto;
        //margin-top: 200px;
        padding: 200px;
        height:100%;
        width: 80%;
    }
    
    
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        //padding-top: 130px;
        padding-bottom: 0;
        /* Location of the box */
        left: 0;
        right:0;
        bottom: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: hidden;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    
    /* The Close Button */
    
    .close {
        color:black;
        float: right;
        font-size: 28px;
        font-weight: bolder;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .center {
        text-align: center;
        font-size: 26px;
    }

    button {
        background-color: inherit ;
        border-radius: 10px solid white;
        
    }